---
import Container from "@/components/container.astro";
import Link from "@/components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import logoImage from "@/assets/GuidingHeartsLogo.png";
import logoText from "@/assets/logoText.jpg";
import heroImage from "@/assets/hero.png";
import { Picture } from "astro:assets";

const menuitems = [
  {
    title: "Our Specializations",
    path: "/specializations",
  },
  {
    title: "Services",
    path: "#",
    children: [
      { title: "Counseling", path: "/counseling" },
      { title: "Concierge Care Management", path: "/concierge-care" },
      { title: "Consultation and Training", path: "/training" },
      { title: "Medicaid Assistance", path: "/medicaid-assistance" },
    ],
  },
  {
    title: "About Us",
    path: "/about",
  },
  {
    title: "Contact Us ",
    path: "/contact",
  },
];

---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          {/* Logo Section */}
          <a href="/">
            {Astro.url.pathname === '/' ? 
              <Picture
                src={logoText}
                class="h-10 w-auto"
                alt="Guiding Hearts Helping Hands"
              />
            :
              <Picture
                src={logoImage}
                class="h-40 w-auto hidden lg:block"
                alt="Guiding Hearts Helping Hands Logo"
              />
              <Picture
                src={logoImage}
                class="h-20 w-auto lg:hidden"
                alt="Guiding Hearts Helping Hands"
              />
            }
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-10 h-10 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 text-xl items-center text-gray-600 hover:text-gray-900">
                        <span> {item.title}</span>
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </MenuItems> 

    </Astronav>
  </header>
</Container>
